Repository vmware/powershell-module-for-vmware-cloud-foundation-reporting, pull requests merged in 2023-12, with the labels that each got.

#199 feat: add secure strings for sensitive parameters
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: documentation, enhancement, needs-review

#200 chore: release preparation
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
  docs/index.md
Labels: documentation, chore, needs-review

#202 docs: update publish cmdlet syntax
  docs/documentation/functions/Publish-DnsHealth.md
  docs/documentation/functions/Publish-EsxiHealth.md
  docs/documentation/functions/Publish-HardwareCompatibilityHealth.md
  docs/documentation/functions/Publish-NsxtEdgeClusterHealth.md
  docs/documentation/functions/Publish-NtpHealth.md
  docs/documentation/functions/Publish-PasswordHealth.md
  docs/documentation/functions/Publish-PingConnectivityHealth.md
  docs/documentation/functions/Publish-ServiceHealth.md
  docs/documentation/functions/Publish-VcenterHealth.md
  docs/documentation/functions/Publish-VersionHealth.md
  docs/documentation/functions/Publish-VsanHealth.md
  docs/documentation/functions/Publish-VsanStoragePolicy.md
Labels: documentation

#203 docs: update for connected and disconnected
  docs/documentation/getting-started/alert-report.md
  docs/documentation/getting-started/configuration-report.md
  docs/documentation/getting-started/health-report.md
  docs/documentation/getting-started/overview-report.md
  docs/documentation/getting-started/upgrade-precheck-report.md
  docs/install.md
  docs/update.md
  mkdocs.yml
Labels: documentation, needs-review

#204 feat: add support for additional json outputs
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
  docs/documentation/functions/Publish-EsxiConnectionHealth.md
  docs/documentation/functions/Publish-SddcManagerFreePool.md
  docs/documentation/functions/Publish-VmConnectedCdrom.md
Labels: documentation, enhancement, needs-review
