Repository vmware/powershell-module-for-vmware-cloud-foundation-reporting, pull requests merged in 2023-04, with the labels that each got.

#111 reactor: transition to `Publish-PasswordHealth`
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, refactor, report/health

#113 refactor: remove SDDC Manager `root` password dependency
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: technical-debt, breaking-change, refactor, report/health

#117 refactor: update `Invoke-VcfReportingPrereq` cmdlet
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: breaking-change, refactor

#120 refactor: remove `Publish-LocalUserExpiry` support functions
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psm1
Labels: refactor

#122 chore: update description for ps gallery
  VMware.CloudFoundation.Reporting.psd1
Labels: chore

#123 feat: add version health
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, report/health

#124 feat: add vsan cluster health checks
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, report/health

#125 chore(deps): bump `PowerVCF` from 2.2.0 to 2.3.0
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: chore

#128 refactor: update branding
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: breaking-change, refactor

#119 docs: update `README.md`
  CHANGELOG.md
  README.md
  VMware.CloudFoundation.Reporting.psd1
Labels: documentation

#129 feat: add hardware compatibility checks
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, report/health

#130 feat: add component size checks
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, report/overview
