Repository vmware/powershell-module-for-vmware-cloud-foundation-reporting, pull requests merged in 2023-03, with the labels that each got.

#100 chore(release): release respin
  CHANGELOG.md
  README.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: bug, documentation, chore

#102 refactor: update `Request-SoSHealthJson` to use the api
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, size/m, refactor, report/health

#110 refactor: remove `sddcManagerRootPass` from `Invoke-VcfHealthReport`
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: size/s, refactor, report/health

#107 feat: adjust thresholds for certificate health
  CHANGELOG.md
  VMware.CloudFoundation.Reporting.psd1
  VMware.CloudFoundation.Reporting.psm1
Labels: enhancement, size/s, report/health
